l

        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        a{
            text-decoration: none;
        }
        ul, ol, li{
            list-style: none;
        }
        /* ======== */
        .container{
            margin: 0 auto;
            width: 1170px;
        }
        .navbar{
            height: 20px;
            margin-top: 50px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 69px;
        }
        .navbar .nav{
            display: flex;
        }
        .navbar .nav a{
            margin-left:46px ;
            color: #838383;
            font-family: Montserrat;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
        .about{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 85px;
            margin-bottom: 36px;
        }
        .about h3{
            color: #222;
            font-family: Raleway;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 26px; /* 144.444% */
            letter-spacing: 2px;
            text-transform: uppercase;
            margin-bottom: 20px;
        }
        .about h1{
            color: #222;
            font-family: Raleway;
            font-size: 72px;
            font-style: normal;
            font-weight: 700;
            line-height: 88px; /* 122.222% */
            text-transform: capitalize;
            margin-bottom: 30px;
        }
        .about  span{
            color: #F05D7B;
            font-family: Raleway;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 26px;
            letter-spacing: 2px;
            text-transform: uppercase;
        }
        .about p{
            color: #838383;
            font-family: Raleway;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px; /* 162.5% */
            letter-spacing: 0.2px;
            margin-bottom: 50px;
        }
         .about_pic{
            width: 639px;
            height: 639px;
            border-radius: 50%;
            border: 1px solid #8671FC;
            flex-shrink: 0;
         }
         .btn_grp{
            display: flex;
            gap: 35px;
            align-items: center;
         }
         .btn_grp .hire_me {
            width: 162px;
            height: 60px;
            flex-shrink: 0;
            border-radius: 30px;
            background: #8671FC;

             color: #FFF;
            text-align: center;
            font-family: Raleway;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;

            display: flex;
            align-items: center;
            justify-content: center;
         }
         .btn_grp .hire_me:hover{
            color: #8671FC;
            background:#FFF;
            border: 1px solid #8671FC;
            transition: 0.5s all;
         }
         .btn_grp .resume{
            width: 201px;
            height: 19px;
            
            display: flex;
            align-items: center;
            justify-content: center;

            color: #8671FC;
            font-family: Raleway;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
         }
        .btn_grp .btn_icon{
            margin: -50px;
         }
          .btn_icon:hover{
            margin: -40px;
            transition: 0.5s;
         }
.about_me{
    width: 100%;
    height: 722px;
    flex-shrink: 0;
    background: #F05D7B;

}
.contant{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title h3{
    color: #FFF;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding-top: 150px;
}
.contant_left h1{
    width: 560px;
    color: #FFF;
    font-family: Raleway;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.3px;
}
.contant_left p{
    width: 501px;
    color: #FFF;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    letter-spacing: 0.2px;
    margin-bottom: 70px;
}
.contant_left a{
    color: #FFF;
    text-align: right;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding-top: 70px;
}
.contant_right h1{
    width: 360px;
    color: #FFF;
    font-family: Raleway;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.3px;
}
.contant_right p{
    width: 421px;
    color: #FFF;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    letter-spacing: 0.2px;
}
.contant_right h4{
    color: #FFF;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 144.444% */
}
.skill{
    background: #FCFCFF;
    width: 100%;
    height: 472px;
    margin: 150px 0;

    
}

.skill_title h4{
    color: #222;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 144.444% */
    letter-spacing: 2px;
    text-transform: uppercase;
}
.skill_title h1{
    color: #222;
    text-align: center;
    font-family: Raleway;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.3px;
}
.skill_item{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.illustrator{
    width: 370px;
    min-height: 370px;
    flex-shrink: 0;
    background: #F05D7B;
    box-shadow: 0 30px 25px 0 rgba(0, 0, 0, 0.10);
}
.illustrator h4{
    color: #FFF;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px; /* 141.667% */
    letter-spacing: 0.5px;

    margin: 50px;
}
.illustrator p{
    color: #FFF;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    letter-spacing: 0.2px;

    margin: 50px;
}
.illustrator a{
    color: #FFF;
    text-align: right;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;

    padding: 50px;
    height: 19px;
}
.ux_designer{
    width: 370px;
    min-height: 370px;
    flex-shrink: 0;
    background: #F05D7B;
    box-shadow: 0 30px 25px 0 rgba(0, 0, 0, 0.10);
}
.ux_designer h4{
    color: #FFF;
    text-transform: capitalize;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px; /* 141.667% */
    letter-spacing: 0.5px;
    margin: 50px;
}
.ux_designer p{
    color: #FFF;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    letter-spacing: 0.2px;

    margin: 50px;
}
.ux_designer a{
    color: #FFF;
    text-align: right;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;

    padding: 50px;
    height: 19px;
}
.logo_designer{
    width: 370px;
    min-height: 370px;
    flex-shrink: 0;
    background: #F05D7B;
    box-shadow: 0 30px 25px 0 rgba(0, 0, 0, 0.10);
}
.logo_designer h4{
    color: #FFF;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px; /* 141.667% */
    letter-spacing: 0.5px;
    margin: 50px;
}
.logo_designer p{
    color: #FFF;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    letter-spacing: 0.2px;

    margin: 50px;
}

.logo_designer a{
     color: #FFF;
    text-align: right;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;

    padding: 50px;
    height: 19px;
}
/* prtfolio */
.protfolio{
    width: 100%;
    height: 915px;
    flex-shrink: 0;
    background: #FCFCFF;
}
.protfolio_title h3{ 
    color: #222;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 144.444% */
    letter-spacing: 2px;
    text-transform: uppercase;
}
.protfolio_title h1{
    color: #222;
    text-align: center;
    font-family: Raleway;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.3px;
}
ul{
    display: flex;
    justify-content: center;
    gap: 50px;
}
ul li a{
    color: #838383;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.protfolio_img{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 70px;
    margin-bottom: 150px;
}
.protfolio_img .item_1{
    width: 370px;
    height: 334px;
    background: #CECECE;
    border-radius: 5px;
}

/* Testimonials */
.textimonials{
    margin-top: 150px;
    margin-bottom: ;
}
.textimonials_left h4{
    color: #222;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 144.444% */
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.textimonials_left h1{
    width: 270px;
    color: #222;
    font-family: Raleway;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.3px;
}
.textimonials_left p{
    width: 311px;
    color: #838383;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    letter-spacing: 0.2px;
}